footer {
    padding: 0;
    font-family: 'lato', sans-serif;
    color: #031A39BF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    height: 390px;
    border-top: 1px solid rgba(221, 221, 221, 0.39);
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;
    width: 1030px;
    height: 268px;
  }
  
  .logo-section {
    flex: 1;
    min-width: 212px;
  }
  
  .logo-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .logo-img {
    width: 54px;
    height: 49px;
    padding: 0;
  }
  
  .logo-name {
    width: 109px;
    height: 27px;
  }
  .logo-section p {
    margin-top: 22px;
    width: 325px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .links-section {
    
  }
.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    margin-bottom: 6px;
  }
  
  .footer-nav a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  .contact-section {
    flex: 1;
    max-width: 227px;
  }
  
  .links-section h4 {
    width: 113px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #052742;
    margin-top: 15.5px;
    margin-bottom: 40px;
  }
  .contact-section h4 {
    width: 119px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #052742;
    margin-bottom: 40px;
    margin-top: 15.5px;
  }
  
  
  .contact-items {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 22px;

  }
  .contact-item-location {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 225.62px;
    height: 120px;
  }
  .contact-item-location img {
    margin-top: 7px;
  }
  .contact-item-location span {
    width: 197.62px;
    height: 120px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;


  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 14px;
  }
  
  .highlight-link {
    text-decoration: underline;
    color: goldenrod;
  }
  
  .highlight-link:hover {
    color: #b8860b;
  }
  