.Analyse-paragraph {
  font-size: 28px;
  font-weight: bold;
  color: #001F3F;
  margin-top: 150px;
}

.tactic-overview,
.impact,
.export {
  margin-top: 200px;
  color: #001F3F;
}
.menu-toggle {
  position: relative;
  top: 6px;
}


.detection-summary{
  margin-top: 70px;
  color: #001F3F;
}

section,
.export-buttons {
  margin-left: 120px;
 
}

/* Résultats */
.occurrence {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px !important;
  margin: 15px 10px 50px 3px !important;
  flex: 1 1 calc(45% - 50px) !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.occurrence pre {
  background-color: #fff;
  padding: 8px !important;
  border-radius: 6px;
  font-family: monospace;
  font-size: 14px;
  white-space: pre-wrap;
  margin-left: 120px !important;
  overflow-x: auto;
  color: #990000;
}

#occurrence-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.impact ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* --- EXPORT SECTION --- */
.export {
  margin-top: 40px;
}

.export label {
  margin-right: 10px;
}

/* Nouveau select stylé */
.custom-select {
  padding: 10px 16px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f6b44d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 25px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 35px;
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

.custom-select:hover {
  background-color: #F7F9FA;
  color: #000000;
}



/* Conteneur des boutons */
.export-buttons {
  display: flex;
  gap: 20px;
  margin-left: 170px;
  margin-top: 40px;
}

/* Bouton EXPORT */
.export-btn {
  background-color: #DFA449;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-btn:hover {
  background-color: #c78e2e;
}

/* Bouton Get New Analysis */
.get-analysis-btn {
  background-color: white;
  color: #DFA449;
  border:none;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); 
  gap: 6px;
  transition: all 0.3s ease;
}

.get-analysis-btn .arrow {
  transition: transform 0.3s ease;
}

.get-analysis-btn:hover .arrow {
  transform: translateX(5px);
}

.get-analysis-btn:active {
  background-color: #DFA449;
  color: white;
}

.export-label {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
  color: #2d3d4a;
}

